
body { 
  font: "Montserrat", sans-serif ;
  font-size: 25px;
  background-color: lightblue;
  text-align: center;
}

/* CSS for modal */
.modal-dialog {
  max-width: 600px; /* Set maximum width of the modal dialog */
}

.modal-content {
  padding: 20px; /* Add padding inside the modal content */
}

.modal-body {
  text-align: center; /* Align content in the modal body to center */
}

/* CSS for buttons */
.btn-primary {
  margin: 5px; /* Add margin around the buttons */
}

/* Responsive image styling */
.img-fluid {
  max-width: 100%; /* Ensure images are responsive and don't overflow */
  height: auto; /* Maintain aspect ratio of images */
}
