
body { 
  font: "Montserrat", sans-serif ;
  font-size: 25px;
  background-color: lightblue;
  text-align: center;
}

/* CSS for modal */
.modal-dialog {
  max-width: 600px; 
}

.modal-content {
  padding: 20px; 
}

.modal-body {
  text-align: center; 
}

#modal-container{
  container: aquamarine;
}

/* CSS for buttons */
.btn-primary {
  margin: 5px; 
}

/* Responsive image */
.img-fluid {
  max-width: 100%; 
  height: auto; 
  background-color: bisque;
}

.row{
  background-color: rgb(228, 170, 244);
}

div#pokemon.container.row{
  background-color:darkkhaki;
}
